@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="head">
        <h1 class="display-4">Kufreabasi Ita</h1>
        <p>Hello! My name is Kufreabasi Ita and I am a software engineer.</p>
        <div>
            <p>.NET</p>
            <p>Python</p>
            <p>JavaScript</p>
        </div>
        <a class="butt" href="#contact">Contact Me!</a>
    </div>
</div>

<div id="about">
    <div class="fore fore1"></div>
    <div class="fore fore2"></div>
    <div class="fore fore3"></div>
    <div class="fore fore4"></div>
    <div class="container">
        <h2 class="text-center">About Me</h2>
        <p>
            Alright then! I have garnered experience with JavaScript, Python and C# programming languages and built demo projects with Django and ASP.NET Core frameworks and worked with Microsoft SQLServer database.
        </p>
        <p>
            I developed a passion for programming because of my ability to think logically and critically. I fell so deeply in love with software engineering that I was willing to give up a 6 year career as a Design Engineer. I am, infact, a COREN registered engineer. At the moment, I am interning at Decagon Institute. Here, I am quickly learning what it takes to become a worldclass, fullstack .NET engineer.
        </p>
        <p>
            In my spare time, I enjoy watching documentaries, playing my guitar and taking Spanish lessons.
        </p>
    </div>
</div>
<div class="container">
    <div id="education">
        <h2 class="text-center">Education</h2>
        <div class="education">
            <ul>
                <li>
                    Software Engineering Intern at Decagon (June 2020 - Present)
                </li>
                <li>
                    Graduate II (Start.ng Internship) at HNG (May 2020)
                </li>
                <li>
                    Bachelor of Science in Agricultural Engineering at Olabisi Onabanjo University (2004 - 2010)
                </li>
            </ul>
            <img class="edu-img" src="~/imgs/circle-cropped.png" alt="Education Image" />
        </div>
    </div>
</div>

